@use '../abstract/' as *;

.productcard {
    position: relative;
    margin: 0 auto;
    width: 25rem;
    height: 30rem;
    box-shadow: 0px 5px 21px 3px rgba(0,0,0,0.3);


    &__banner1 {
        display: none;
    }

    &__banner2 {
        display: none;

    }

    &__figure {
        padding: 1rem;
        width: 100%;
        
    }

    &__figcaption {
        
    }

    &__desc {

    }

    &__title {
        margin: 0 0 1rem 1rem;
        color: map-get($tokencolors, --nomcartevelo );
        
    }
    
    &__price {
        margin-left: 1rem;
        color: map-get($tokencolors, --prixcartevelo );


    }

    &__btn {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        padding: .5rem 1rem;
        background: map-get($tokencolors, --btngradiant );
        color: map-get($tokencolors, --btnfont );
        border: none;
        text-transform: uppercase;

    }

    &__btn:hover {
        cursor: pointer;
    }

    &--expired {
        position: relative;
        margin: 0 auto;
        width: 25rem;
        height: 30rem;
        box-shadow: 0px 5px 21px 3px rgba(0,0,0,0.3);
    
        .productcard {
            &__banner1 {
                display: block;
                position: absolute;
                top: -1rem;
                left: -1rem;
                padding: .25rem .5rem;
                color: map-get($tokencolors, --bannerexpired-font );
                background-color: map-get($tokencolors , --bannerexpired-bg );
        
            }
        }
    

    }

    &--soon {
        position: relative;
        margin: 0 auto;
        width: 25rem;
        height: 30rem;
        box-shadow: 0px 5px 21px 3px rgba(0,0,0,0.3);
        
        .productcard {
            &__banner1 {
                display: none;
        
            }

            &__banner2 {
                display: block;
                position: absolute;
                top: -1rem;
                left: -1rem;
                padding: .25rem .5rem;
                color: map-get($tokencolors, --bannersoon-font );
                background-color: map-get($tokencolors , --bannersoon-bg );
        
            }
        }
    

    }
}