@use '../abstract/' as *;

.profil__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 2rem;
    gap: 5rem;

    &_img {
        width: 12.5rem;
        height: 12.5rem;
        object-fit: cover;
        border-radius: 100%;
        border: 5px solid map-get($map: $primarycolors, $key: --black);
    }

    .profil__figure_content {

        &_name {
            font-size: 2rem;
            margin-bottom: 1.5rem;
            color: map-get($map: $primarycolors, $key: --darkGrey);
        }

        &_tel,
        &_mail {
            font-size: 1.25rem;
        }
        
        &_tel {
            font-weight: 600;
            color: map-get($map: $primarycolors, $key: --grey);
        }
    }
}