@use '../abstract/' as *;


*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;

}

body,
h1,
h2,
h3,
h4,
p,
figure {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-opensans);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    margin: 2rem auto;
    width: 30rem;
    text-align: center;
}

#nav {
    margin: 0 auto;
    width: 80%;
}

#nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

#nav li{
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav button {
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: white;
}

#nav button:hover {
    text-decoration: underline;
    color: map-get($tokencolors, --fonthover);
    cursor: pointer;

}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 2rem auto;
    width: 80%;
}

@media screen and (min-width: 1000px) {

    #nav ul{
        gap: 1rem;
        flex-direction: row;
        justify-content: center;
    }

}